.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.custom-dots li {
  list-style: none;
}

.custom-dots li button {
  font-size: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  border: none;
  transition: all 0.3s ease-in-out;
}

.custom-dots li.slick-active button {
  background-color: #1976d2; /* Change color for active dot */
  width: 16px;
  height: 16px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
